In [1]:
print("hello world ")

hello world

In [22]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df = pd.DataFrame(data)
df.loc[2]
df.loc[1]

Name     Aisha
Age         13
Marks       92
Name: 1, dtype: object

In [3]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df = pd.DataFrame(data)
df.loc[0]

Name     Rahul
Age         14
Marks       88
Name: 0, dtype: object

In [2]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df = pd.DataFrame(data)
df.loc[[0,1]]

    Name  Age  Marks
0  Rahul   14     88
1  Aisha   13     92

In [6]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

# df = pd.DataFrame(data)
df.to_string()

'    Name  Age  Marks\n0  Rahul   14     88\n1  Aisha   13     92\n2  Kabir   15     79'

In [7]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df.head()

    Name  Age  Marks
0  Rahul   14     88
1  Aisha   13     92
2  Kabir   15     79

In [8]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df.tail()

    Name  Age  Marks
0  Rahul   14     88
1  Aisha   13     92
2  Kabir   15     79

In [10]:
df=pd.read_csv(r"C:\Users\win10\Desktop\Download\daily_data.csv")
df

,STATION,DATE,REPORT_TYPE,SOURCE,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,...,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,Sunrise,Sunset,WindEquipmentChangeDate
0,72518014735,2015-01-01T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,190.0,26.0,0.00,0.0,0.0,190.0,20.0,726.0,1632.0,2006-09-08
1,72518014735,2015-01-02T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,250.0,30.0,T,0.0,T,310.0,23.0,726.0,1633.0,2006-09-08
2,72518014735,2015-01-03T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,170.0,21.0,0.57,0.0,1.6,160.0,15.0,726.0,1634.0,2006-09-08
3,72518014735,2015-01-04T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,290.0,33.0,0.22,1.0,0.0,290.0,24.0,726.0,1635.0,2006-09-08
4,72518014735,2015-01-05T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6918,-73.83109,"NWS ALBANY, NY",...,280.0,42.0,T,0.0,T,290.0,32.0,726.0,1636.0,2006-09-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,72518014735,2022-05-27T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6812,-73.81650,"NWS ALBANY, NY",...,160.0,28.0,0.00,0,0.0,160.0,21.0,423.0,1922.0,2006-09-08
2664,72518014735,2022-05-28T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6812,-73.81650,"NWS ALBANY, NY",...,310.0,26.0,0.04,0,0.0,310.0,22.0,422.0,1923.0,2006-09-08
2665,72518014735,2022-05-29T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6812,-73.81650,"NWS ALBANY, NY",...,90.0,13.0,0.00,0,0.0,180.0,9.0,421.0,1924.0,2006-09-08
2666,72518014735,2022-05-30T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6812,-73.81650,"NWS ALBANY, NY",...,200.0,15.0,0.00,0,0.0,190.0,12.0,421.0,1925.0,2006-09-08
2667,72518014735,2022-05-31T23:59:00,SOD,6,PRECIP,260,PLASTIC,42.6812,-73.81650,"NWS ALBANY, NY",...,250.0,29.0,0.00,0,0.0,250.0,21.0,420.0,1926.0,2006-09-08

In [11]:
import pandas as pd

data = {
    "Name": ["Rahul", "Aisha", "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}

df.info

<bound method DataFrame.info of           STATION                 DATE REPORT_TYPE  SOURCE BackupElements  \
0     72518014735  2015-01-01T23:59:00       SOD         6         PRECIP
1     72518014735  2015-01-02T23:59:00       SOD         6         PRECIP
2     72518014735  2015-01-03T23:59:00       SOD         6         PRECIP
3     72518014735  2015-01-04T23:59:00       SOD         6         PRECIP
4     72518014735  2015-01-05T23:59:00       SOD         6         PRECIP
...           ...                  ...         ...     ...            ...
2663  72518014735  2022-05-27T23:59:00       SOD         6         PRECIP
2664  72518014735  2022-05-28T23:59:00       SOD         6         PRECIP
2665  72518014735  2022-05-29T23:59:00       SOD         6         PRECIP
2666  72518014735  2022-05-30T23:59:00       SOD         6         PRECIP
2667  72518014735  2022-05-31T23:59:00       SOD         6         PRECIP

      BackupElevation BackupEquipment  BackupLatitude  BackupLongitude  \
0                 260         PLASTIC         42.6918        -73.83109
1                 260         PLASTIC         42.6918        -73.83109
2                 260         PLASTIC         42.6918        -73.83109
3                 260         PLASTIC         42.6918        -73.83109
4                 260         PLASTIC         42.6918        -73.83109
...               ...             ...             ...              ...
2663              260         PLASTIC         42.6812        -73.81650
2664              260         PLASTIC         42.6812        -73.81650
2665              260         PLASTIC         42.6812        -73.81650
2666              260         PLASTIC         42.6812        -73.81650
2667              260         PLASTIC         42.6812        -73.81650

          BackupName  ...  DailyPeakWindDirection  DailyPeakWindSpeed  \
0     NWS ALBANY, NY  ...                   190.0                26.0
1     NWS ALBANY, NY  ...                   250.0                30.0
2     NWS ALBANY, NY  ...                   170.0                21.0
3     NWS ALBANY, NY  ...                   290.0                33.0
4     NWS ALBANY, NY  ...                   280.0                42.0
...              ...  ...                     ...                 ...
2663  NWS ALBANY, NY  ...                   160.0                28.0
2664  NWS ALBANY, NY  ...                   310.0                26.0
2665  NWS ALBANY, NY  ...                    90.0                13.0
2666  NWS ALBANY, NY  ...                   200.0                15.0
2667  NWS ALBANY, NY  ...                   250.0                29.0

      DailyPrecipitation  DailySnowDepth  DailySnowfall  \
0                   0.00             0.0            0.0
1                      T             0.0              T
2                   0.57             0.0            1.6
3                   0.22             1.0            0.0
4                      T             0.0              T
...                  ...             ...            ...
2663                0.00               0            0.0
2664                0.04               0            0.0
2665                0.00               0            0.0
2666                0.00               0            0.0
2667                0.00               0            0.0

      DailySustainedWindDirection  DailySustainedWindSpeed  Sunrise  Sunset  \
0                           190.0                     20.0    726.0  1632.0
1                           310.0                     23.0    726.0  1633.0
2                           160.0                     15.0    726.0  1634.0
3                           290.0                     24.0    726.0  1635.0
4                           290.0                     32.0    726.0  1636.0
...                           ...                      ...      ...     ...
2663                        160.0                     21.0    423.0  1922.0
2664                        310.0                     22.0    422.0  1923.0
2665                        180.0                      9.0    421.0  1924.0
2666                        190.0                     12.0    421.0  1925.0
2667                        250.0                     21.0    420.0  1926.0

      WindEquipmentChangeDate
0                  2006-09-08
1                  2006-09-08
2                  2006-09-08
3                  2006-09-08
4                  2006-09-08
...                       ...
2663               2006-09-08
2664               2006-09-08
2665               2006-09-08
2666               2006-09-08
2667               2006-09-08

[2668 rows x 32 columns]>

In [21]:
import pandas as pd
import numpy as np
data = {
    "Name": ["Rahul", np.nan, "Kabir"],
    "Age": [14, 13, 15],
    "Marks": [88, 92, 79]
}
data = pd.DataFrame(data)
new_df=data.dropna()
print(data)
print(new_df)

# data.dropna(inplace=True)

    Name  Age  Marks
0  Rahul   14     88
1    NaN   13     92
2  Kabir   15     79
    Name  Age  Marks
0  Rahul   14     88
2  Kabir   15     79